a.nxc-twitter-sigin { width: 150px; height: 22px; background: url('../images/twitter/signin.png') no-repeat top; display: block; text-indent: -500em; overflow: hidden; }
a.nxc-twitter-sigin:hover { background-position: 0 -22px; }
a.nxc-twitter-sigin:active { background-position: bottom; }